<h1>查询百度排名</h1>
<p>
<%=form_tag '/home/searchbybaidu' do%>
网址：<br/>
<%=text_field_tag 'host'%><br/>
  关键字：<br/>
  <%= text_area_tag 'keywords',nil,:size => "80x6" %><br/>
  <%= submit_tag '提交' %>
<% end %>
</p>
<br/>
<%= link_to '返回',root_path%>
