.row
	.span3
		.row
			.span3
				%p
					网址： 
					= site.name
					= link_to edit_site_path(site) do
						%i.icon-edit
			.span3		
				= form_tag site_path(site),:class=>"form-search clear-margin",:method=>'get' do
					%label
						查询日期：
						= text_field_tag 'date',@date,:class=>"input-small",:type=>"text",:'data-datepicker-format'=>"yyyy-mm-dd",:placeholder=>"选择日期过滤"			
			.span3
				%ul.nav.nav-list.bs-docs-sidenav
					- if site.has_prev(@page)
						%li.text-center-align
							= link_to site_path(site,:page=>@page-1) do
								%i.icon-chevron-up					
					- if site.last_rank_date.nil? or site.last_rank_date.to_date < Date.today
						%li
							= link_to rank_site_path(site) do
								%i.icon-search
								查询今天排名
					- site.all_rank_dates(@page).each do |d|
						%li{:class=> (d.created_day==@date) && "active"}
							%a{:href=>site_path(site,:date=>d.created_day)}
								= d.created_day
								%i.icon-chevron-right
					- if site.has_next(@page)
						%li.text-center-align
							= link_to site_path(site,:page=>@page+1) do
								%i.icon-chevron-down
	.span9
		.row
			.span9			
				%table.table.table-striped.table-bordered
					%caption						
						- if !(site.label.nil? || site.label.blank?)
							= site.label
					%thead
						%tr
							%th
								关键字 
							%th
								百度排名
							%th
								Google排名
					%tbody
						- baidu_result=site.get_rank_result_by_engine_and_day(SearchEngine::BAIDU,@date)
						- google_result=site.get_rank_result_by_engine_and_day(SearchEngine::GOOGLE,@date)
						- site.keywords.split.each do |keyword|
							- baidu_keyword_rank=baidu_result.nil? ? nil : baidu_result.get_rank_by_keyword(keyword)
							- google_keyword_rank=google_result.nil? ? nil : google_result.get_rank_by_keyword(keyword)
							%tr
								%td 
									= keyword
								%td
									- if baidu_keyword_rank.nil?
										\-
									- else
										- case baidu_keyword_rank.status
											- when RankStatus::NEW then
												%em.text-info
													等候查询...
											- when RankStatus::SUCCESS then 
												= baidu_keyword_rank.rank.nil? ? "-" : baidu_keyword_rank.rank
											- when RankStatus::FAIL then
												%em.text-error
													查询失败
								%td
									- if google_keyword_rank.nil?
										\-
									- else
										- case google_keyword_rank.status
											- when RankStatus::NEW then
												%em.text-info
													等候查询...
											- when RankStatus::SUCCESS then 
												= google_keyword_rank.rank.nil? ? "-" : google_keyword_rank.rank
											- when RankStatus::FAIL then 
												%em.text-error
													%abbr.initialism{:title=>'由于google搜索引擎每天有查询限制，今天的查询量已用完，此关键词将会安排在次日查询。'}
														查询失败
