<!DOCTYPE html>
<html>
<head>
  <title>Keyworkranktool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">                  
          <div class="nav-collapse collapse navbar-inverse-collapse">
          <ul class="nav">
            <li class="<%= controller.class == WelcomeController and controller.action_name == 'index' ? 'active' : '' %>"><%=link_to '首页',root_path%></li>
            <li class="<%= controller.class == SitesController and controller.action_name == 'new' ? 'active' : '' %>"><%=link_to '创建查询',new_site_path%></li>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <% if current_user %>
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%=current_user.email%>
				         <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                   <li>
                    <%= link_to('注销', destroy_user_session_path, :method => :delete) %>
                   </li>
                   <li>
                    <%= link_to('修改密码', edit_registration_path(:user)) %>
                   </li>
                </ul>
              </li>
            <% else %>
              <li class="<%= controller.class == Devise::RegistrationsController and controller.action_name == 'new' ? 'active' : '' %>"> 
                <%= link_to('注册', new_registration_path(:user)) %>
              </li>
              <li class="<%= controller.class == Devise::SessionsController and controller.action_name == 'new' ? 'active' : '' %>">
                <%= link_to('登录', new_session_path(:user)) %>
               </li>
            <% end %>
          </ul>
          <%=form_tag(  query_sites_path,:class=>"navbar-search pull-right") do%>
            <%=text_field_tag 'q',@q,:class=>"search-query",:placeholder=>"网址",:'data-provide'=>"typeahead",:'data-source'=>"#{get_all_site_names}",:required=>"true" %>
          <%end%>
        </div>

        </div>
      </div>
  </div>
  <div class="container">
    <%if !notice.nil?%>
      <div class="alert alert-info"><%= notice %></div>
    <%end%>
    <%if !alert.nil?%>
      <div class="alert"><%= alert %></div>
    <%end%>
    <%= yield %>
    <div id="footer">
        <hr/>
        <div class="container">
          <p class="muted credit">
               created by <a href='mailto:jinhong.sky@gmail.com'>ginhom</a> @ 2012
         </p>
        </div>
    </div>
  </div>
</body>
</html>
